.wrap_switchTranslete {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	align-items: center;
	font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
}

.leftSpan {
	width: 150px;
	text-align: left;
}

.rightSpan {
  width: 150px;
  text-align: right;
}
