@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  background: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  padding: 0;
}

:root {
  --primary-color: #136F63;
  --secondary-color: #3E2F5B;
  --accent-color: #E0CA3C;
  --error-color: #F34213;
  --text-color: #000F08;
  --background-color: #F5F5F5;
  --font-family: 'Montserrat', sans-serif;
	--second-family: 'Lato', sans-serif;
  --font-size: 18px;
  --line-height: 1.6;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--secondary-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
	font-family: var(--font-family);
	font-weight: 500;
  margin: 0 0 1rem 0;
	font-size: 18px;
}

a {
  color: var(--accent-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--background-color);
}

button {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 18px;
  background-color: var(--primary-color);
  color: white;
	padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}

input,
textarea,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
	background-color: rgba(62, 47, 91, 0.05);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-color);
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
} */
